<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="4135712noon.NameTwister"
    Publisher="CN=3F3D4073-235D-474A-BB0D-CC8C388015BD"
    Version="3.3.30.0" />

  <Properties>
    <DisplayName>NameTwister</DisplayName>
    <PublisherDisplayName>12noon LLC</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="NameTwister"
        Description="If you need to rename files in complicated (or easy) ways, NameTwister can do it. Drag &amp; drop files from anywhere in Windows onto the NameTwister window. Then enter simple search &amp; replace text (such as replace “cat” with “dog”) or more complex regular expressions. The Case-sensitive matching check box requires that the text will only match if the case matches. If you tick the Replace all matches check box, every match in the source expression will be replaced with the target expression. If the check box is cleared, only the first match will be replaced. If the Replace “#” with… check box is selected, any series of # characters in the target expression will be replaced by a number, starting with the number you enter."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" ShortName="NameTwister" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
